.book-result.book-summary
  =link_to('/book_summary') do
    =image_tag 'books/book2.jpg', class: 'book-image', alt: 'brave_new_world_cover'
  .book-information
    =link_to 'Brave New World', '/book_summary', class:'book-title'
    .year 1932
    .author By Aldous Huxley
    .category Science fiction
    .rating
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star-half-o
      %a{href:'/book_summary#customer-reviews'}13 customer reviews
    .price
      %h3 $ 4.99
    .button.add-to-cart-button
      Add to cart
      %i.fa.fa-cart-plus
    %hr
    .year-format Hardcover - Jul 17 2001

.book-result.book-summary
  =link_to('/book_summary') do
    =image_tag 'books/book1.jpg', class: 'book-image', alt: 'animal_farm_cover'
  .book-information
    =link_to 'Animal Farm', '/book_summary', class:'book-title'
    .year 1945
    .author By George Orwell
    .category Satire
    .rating
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star-o
      %a{href:'/book_summary#customer-reviews'}5 customer reviews
    .price
      %h3 $ 3.49
    .button.add-to-cart-button
      Add to cart
      %i.fa.fa-cart-plus
    %hr
    .year-format Paperback - Jan 02 2008

.book-result.book-summary
  =link_to('/book_summary') do
    =image_tag 'books/book3.jpg', class: 'book-image', alt: 'farenheit451_cover'
  .book-information
    =link_to 'Fahrenheit 451', '/book_summary', class:'book-title'
    .year 1932
    .author By Ray Bradbury
    .category Science fiction
    .rating
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %a{href:'/book_summary#customer-reviews'}2 customer reviews
    .price
      %h3 $ 1.29
    .button.add-to-cart-button
      Add to cart
      %i.fa.fa-cart-plus
    %hr
    .year-format Softcover - Jul 3 1956

.book-result.book-summary
  =link_to('/book_summary') do
    =image_tag 'books/book4.jpg', class: 'book-image', alt: 'Enders_game_cover'
  .book-information
    =link_to 'Enders Game', '/book_summary', class:'book-title'
    .year 1997
    .author By Orson Scott Card
    .category Science fiction
    .rating
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %a{href:'/book_summary#customer-reviews'}45 customer reviews
    .price
      %h3 $ 12.67
    .button.add-to-cart-button
      Add to cart
      %i.fa.fa-cart-plus
    %hr
    .year-format Softcover - May 9 1997
.book-result.book-summary
  =link_to('/book_summary') do
    =image_tag 'books/book5.jpg', class: 'book-image', alt: 'Hunger_games_cover'
  .book-information
    =link_to 'The Hunger Games', '/book_summary', class:'book-title'
    .year 2012
    .author By Suzanne Collins
    .category Science fiction, action
    .rating
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %a{href:'/book_summary#customer-reviews'}1109 customer reviews
    .price
      %h3 $ 29.99
    .button.add-to-cart-button
      Add to cart
      %i.fa.fa-cart-plus
    %hr
    .year-format Hardcover - Jun 2 2012
.book-result.book-summary
  =link_to('/book_summary') do
    =image_tag 'books/book6.jpg', class: 'book-image', alt: 'harry_potter_cover'
  .book-information
    =link_to 'Harry Potter and the Sorcerers Stone', '/book_summary', class:'book-title'
    .year 1999
    .author By J.K Rolling
    .category Fantasy, Action
    .rating
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %a{href:'/book_summary#customer-reviews'} 25897 customer reviews
    .price
      %h3 $ 19.87
    .button.add-to-cart-button
      Add to cart
      %i.fa.fa-cart-plus
    %hr
    .year-format Softcover - Feb 29 1999