%h2 Search Books

.search-books
  .search-criteria
    .field
      %label Title
      =text_field_tag 'title', nil, class: 'book-search-input'
    .field
      %label Author
      =text_field_tag 'author', nil, class: 'book-search-input'
    .field
      %label Category
      =select_tag 'category', options_for_select(['Action and Adventure', 'Art', 'Autobiographies', 'Biographies', 'Children\'s', 'Comics', 'Cookbooks', 'Dictionaries', 'Drama', 'Encyclopedias', 'Fantasy', 'Guide', 'History', 'Horror', 'Journals', 'Math', 'Mystery', 'Poetry', 'Romance', 'Satire', 'Science', 'Science fiction', 'Travel']), include_blank: true, class: 'book-search-input'
    .field
      %label Later than year
      =number_field_tag 'min-year', nil, min: 1900, max: 2020, class: 'book-search-input'
    .field
      %label Before year
      =number_field_tag 'max-year', nil, min: 1900, max: 2020, class: 'book-search-input'
    .field
      %label Minimum rating
      =number_field_tag 'min-rating', nil, min: 0, max: 5, step:0.5, class: 'book-search-input'
    .field
      %label Minimum price
      =number_field_tag 'min-price', nil, min: 0, max: 9999, class: 'book-search-input'
    .field
      %label Maximum price
      =number_field_tag 'max-price', nil, min: 0, max: 9999, class: 'book-search-input'

    #clear-button.button Clear all filters

  .search-results
    .search-results-message
    =render 'book_results'
