#book-summary
  =image_tag 'books/book2.jpg', class: 'book-image', alt: 'brave_new_world_cover'

  %div.book-information
    .book-title Brave New World
    .author By Aldous Huxley
    .rating
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star-half-o
      %a{href:'#customer-reviews'}13 customer reviews

    .price
      %h3 $ 4.99
    .button.add-to-cart-button
      Add to cart
      %i.fa.fa-cart-plus
    %hr
    .year-format Hardcover - Jul 17 2001
    .description
      Far in the future, the World Controllers have created the ideal society. Through clever use of genetic engineering, brainwashing and recreational sex and drugs, all its members are happy consumers. Bernard Marx seems alone in feeling discontent. Harbouring an unnatural desire for solitude, and a perverse distaste for the pleasure of compulsory promiscuity, Bernard has an ill-defined longing to break free. A visit to one of the few remaining Savage Reservations, where the old, imperfect life still continues, may be the cure for his distress.… Huxley’s ingenious fantasy of the future sheds a blazing light on the present and is considered to be his most enduring masterpiece.

  %div.book-details
    %hr
    %h3 Book Details
    %b Hardcover:
    288 pages
    %br
    %b Category:
    Science fiction
    %br
    %b Language:
    English
    %br
    %b Year of publication:
    1932
    %br
    %b Publisher:
    UK Classics; 4th edition (Jul 17 2001)
    %br
    %b ISBN:
    978-0060850524


  %div.customer-reviews
    %a{name:'customer-reviews'}
    %hr
    %h3 Customer reviews
    .rating

      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star-half-o
      %a{href:'#customer-reviews'}13 customer reviews
      %br
      4.4 out of 5 stars
      %br
      .button.review-button
        Write a review

    %div.review
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star

      %b A timeless classic
      By CoolJoe, Aug 12 2004
      %div.review-content
        This was a really good book.

    %div.review
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star
      %i.fa.fa-star-o

      %b A book that I read
      By SecondGradeJim, Dec 23 2006
      %div.review-content
        Cover looked nice.

    %a.see-all-reviews{href:'#customer-reviews'} See all 13 reviews...

  %div.suggested-books
    %hr
    %h3 You may also like...
    Come on Mr Horton give me the graphics