%h2 Welcome to BookStore!

#scrolling-image-banner-wrapper
  %h3 Best-Selling
  #scrolling-image-banner
    .banner-direction-arrow-left
      %i.fa.fa-chevron-left
    .banner-direction-arrow-right
      %i.fa.fa-chevron-right
    .book-image-container
      =image_tag("books/book1.jpg", class: "first")
    .book-image-container
      =image_tag("books/book2.jpg")
    .book-image-container
      =image_tag("books/book3.jpg")
    .book-image-container
      =image_tag("books/book4.jpg")
    .book-image-container
      =image_tag("books/book5.jpg")
    .book-image-container
      =image_tag("books/book6.jpg")
    .book-image-container
      =image_tag("books/book1.jpg")
    .book-image-container
      =image_tag("books/book2.jpg")
    .book-image-container
      =image_tag("books/book3.jpg")
    .book-image-container
      =image_tag("books/book4.jpg")
    .book-image-container
      =image_tag("books/book5.jpg")
    .book-image-container
      =image_tag("books/book6.jpg")
    .book-image-container
      =image_tag("books/book1.jpg")
    .book-image-container
      =image_tag("books/book2.jpg")
    .book-image-container
      =image_tag("books/book3.jpg")
    .vertical-separator-book-repeat
    .book-image-container
      =image_tag("books/book1.jpg")
    .book-image-container
      =image_tag("books/book2.jpg")
    .book-image-container
      =image_tag("books/book3.jpg")
    .book-image-container
      =image_tag("books/book4.jpg")
    .book-image-container
      =image_tag("books/book5.jpg")
    .book-image-container
      =image_tag("books/book6.jpg")

  %h3 New Releases
  #scrolling-image-banner
    .banner-direction-arrow-left
      %i.fa.fa-chevron-left
    .banner-direction-arrow-right
      %i.fa.fa-chevron-right
    .book-image-container
      =image_tag("books/book1.jpg", class: "first")
    .book-image-container
      =image_tag("books/book2.jpg")
    .book-image-container
      =image_tag("books/book3.jpg")
    .book-image-container
      =image_tag("books/book4.jpg")
    .book-image-container
      =image_tag("books/book5.jpg")
    .book-image-container
      =image_tag("books/book6.jpg")
    .book-image-container
      =image_tag("books/book1.jpg")
    .book-image-container
      =image_tag("books/book2.jpg")
    .book-image-container
      =image_tag("books/book3.jpg")
    .book-image-container
      =image_tag("books/book4.jpg")
    .book-image-container
      =image_tag("books/book5.jpg")
    .book-image-container
      =image_tag("books/book6.jpg")
    .book-image-container
      =image_tag("books/book1.jpg")
    .book-image-container
      =image_tag("books/book2.jpg")
    .book-image-container
      =image_tag("books/book3.jpg")
    .vertical-separator-book-repeat
    .book-image-container
      =image_tag("books/book1.jpg")
    .book-image-container
      =image_tag("books/book2.jpg")
    .book-image-container
      =image_tag("books/book3.jpg")
    .book-image-container
      =image_tag("books/book4.jpg")
    .book-image-container
      =image_tag("books/book5.jpg")
    .book-image-container
      =image_tag("books/book6.jpg")

  %h3 Upcoming Releases
  #scrolling-image-banner
    .banner-direction-arrow-left
      %i.fa.fa-chevron-left
    .banner-direction-arrow-right
      %i.fa.fa-chevron-right
    .book-image-container
      =image_tag("books/book1.jpg", class: "first")
    .book-image-container
      =image_tag("books/book2.jpg")
    .book-image-container
      =image_tag("books/book3.jpg")
    .book-image-container
      =image_tag("books/book4.jpg")
    .book-image-container
      =image_tag("books/book5.jpg")
    .book-image-container
      =image_tag("books/book6.jpg")
    .book-image-container
      =image_tag("books/book1.jpg")
    .book-image-container
      =image_tag("books/book2.jpg")
    .book-image-container
      =image_tag("books/book3.jpg")
    .book-image-container
      =image_tag("books/book4.jpg")
    .book-image-container
      =image_tag("books/book5.jpg")
    .book-image-container
      =image_tag("books/book6.jpg")
    .book-image-container
      =image_tag("books/book1.jpg")
    .book-image-container
      =image_tag("books/book2.jpg")
    .book-image-container
      =image_tag("books/book3.jpg")
    .vertical-separator-book-repeat
    .book-image-container
      =image_tag("books/book1.jpg")
    .book-image-container
      =image_tag("books/book2.jpg")
    .book-image-container
      =image_tag("books/book3.jpg")
    .book-image-container
      =image_tag("books/book4.jpg")
    .book-image-container
      =image_tag("books/book5.jpg")
    .book-image-container
      =image_tag("books/book6.jpg")

  %h3 Ongoing Sales
  #scrolling-image-banner
    .banner-direction-arrow-left
      %i.fa.fa-chevron-left
    .banner-direction-arrow-right
      %i.fa.fa-chevron-right
    .book-image-container
      =image_tag("books/book1.jpg", class: "first")
    .book-image-container
      =image_tag("books/book2.jpg")
    .book-image-container
      =image_tag("books/book3.jpg")
    .book-image-container
      =image_tag("books/book4.jpg")
    .book-image-container
      =image_tag("books/book5.jpg")
    .book-image-container
      =image_tag("books/book6.jpg")
    .book-image-container
      =image_tag("books/book1.jpg")
    .book-image-container
      =image_tag("books/book2.jpg")
    .book-image-container
      =image_tag("books/book3.jpg")
    .book-image-container
      =image_tag("books/book4.jpg")
    .book-image-container
      =image_tag("books/book5.jpg")
    .book-image-container
      =image_tag("books/book6.jpg")
    .book-image-container
      =image_tag("books/book1.jpg")
    .book-image-container
      =image_tag("books/book2.jpg")
    .book-image-container
      =image_tag("books/book3.jpg")
    .vertical-separator-book-repeat
    .book-image-container
      =image_tag("books/book1.jpg")
    .book-image-container
      =image_tag("books/book2.jpg")
    .book-image-container
      =image_tag("books/book3.jpg")
    .book-image-container
      =image_tag("books/book4.jpg")
    .book-image-container
      =image_tag("books/book5.jpg")
    .book-image-container
      =image_tag("books/book6.jpg")
