#browse-menu
  =link_to('/book_search', class:'browse-menu-button') do
    All Categories
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Action and Adventure
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Art
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Autobiographies
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Biographies
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Children's
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Comics
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Cookbooks
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Dictionaries
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Drama
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Encyclopedias
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Fantasy
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Guide
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    History
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Horror
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Journals
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Math
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Mystery
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Poetry
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Romance
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Satire
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Science
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Science fiction
    %i.fa.fa-chevron-right
  =link_to('/book_search', class:'browse-menu-button') do
    Travel
    %i.fa.fa-chevron-right
