#header
  .header-content
    =link_to(root_path, class:'menuButton') do
      .headerTitleText BookStore
    .horizontalMenu
      =link_to("book_search", class:'menuButton') do
        .headerMenuText Browse
      =link_to("book_search", class:'menuButton') do
        .headerMenuText Search
    .headerUserActions
      = link_to("shopping_cart", class: 'shopping-cart') do
        My Cart
        %i{class: "fa fa-shopping-cart fa-lg"}
      %a#logout{href: 'logout'} Logout