#header
  .header-content
    =link_to(root_path, class:'menuButton') do
      .headerTitleText BookStore
    .horizontalMenu
      .headerMenuText.a#browse-button Browse
      = render 'layouts/browse_menu'
      %input{type: 'search', id: 'book-search'}
      = link_to('book_search') do
        %i.fa.fa-search.search-icon.fa-lg
    .headerUserActions
      = link_to('shopping_cart', class: 'shopping-cart') do
        My Cart (2)
        %i{class: 'fa fa-shopping-cart fa-lg'}
      %a#logout{href: 'logout'} Logout